@import "src/assets/style/antd";
.right{
  width: 100%;
}
.list{
  //display: grid;
  //flex-wrap: wrap;
  //grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  //grid-row-gap: 10px;
  //grid-column-gap: 10px;

  li{
    position: relative;
    cursor: pointer;
  }
  .title{
    font-weight: bold;
    border-bottom:1px solid #ccc;
    line-height: 40px;
    width: 100%;
    padding-left: 10px;
    overflow: hidden;
  }
  .title:hover{
    background: #ccc;
  }
  .total{
    text-align: center;
  }
}

.vip{
  line-height: 20px;
  font-weight: bold;
  color: @error-color;
}
.pagewrap{
  display: flex;
  justify-content: flex-end;
}