@import "src/assets/style/antd";

.choosebook_category_left_wrap{
  display: flex;
}

.onelist{
  width: 120px;
}
.twolist{
  width: 200px;
}
.choosebook_category_left{
  overflow-y: auto;
  height: 600px;
  border: 1px solid #ccc;

  li{
    line-height: 60px;
    text-align: center;
    font-size: @fz-large;
    cursor: pointer;
    &:hover{
      background: @bg-color-light-grey;
    }
  }
  .active{
    background: @bg-color-light-grey;
    color: @primary-color;
    border-bottom: 1px solid #ccc;
  }
}